
<div>
    <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">Unit 1</a></li>
    <li><a href="#">Unit 2</a></li>
    <li><a href="#">Unit 3</a></li>
    <li><a href="#">Unit 4</a></li>
    <li><a href="#">Unit 5</a></li>
    <li><a href="#">Unit 6</a></li>
    <li><a href="#">Unit 7</a></li>
    <li><a href="#">Unit 8</a></li>
    <li><a href="#">Unit 9</a></li>
    <li><a href="#">Unit 10</a></li>
    <li><a href="#">Unit 11</a></li>
    <li><a href="#">Unit 12</a></li>
    <li><a href="#">Unit 13</a></li>
    </ul>
</div>


