<div>
    <a href="http://isharacomix.org">
    <img src="https://secure.gravatar.com/avatar/39aa2aa615ea1d30d79a37f4557f1e0e?size=200"
         alt="" />
    </a>
    
    <div class="well well-small">
        <p>I'm a Ph.D. Student at <a href="http://ncsu.edu">North Carolina State
        University</a> studying Computer Science and Education.</p>
    </div>
</div>


<div class="btn-group btn-group-vertical btn-block">
    <a class="btn btn-block" href="{{site.baseurl}}cv">CV</a>
    <a class="btn btn-block" href="http://twitter.com/isharacomix">Twitter</a>
    <a class="btn btn-block" href="http://github.com/isharacomix">Github</a>
    <a class="btn btn-block" href="http://teaching.isharacomix.org">Teaching</a>
    <a class="btn btn-block" href="http://research.isharacomix.org">Research</a>
</div>


