<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="description" content="Beauty and Joy of Computing" />
        
        <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap.css">
        <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap-responsive.css">
        
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    </head>

    <body class="with-navbar">
        <div class="container container-main">
            <div class="row">
                {% include header.html %}
            </div>

            <div class="row">

                <div class="span12">
                    {{ content }}
                </div>
            </div>
            
            <div class="row">
                {% include footer.html %}
            </div>
            
        </div>

        <script src="{{site.baseurl}}js/jquery-1.9.1.min.js"></script>
        <script src="{{site.baseurl}}js/bootstrap.js"></script>
    </body>
</html>
