---
layout: base
---

<ul class="breadcrumb">
<li><a href="{{ site.baseurl }}curriculum">Curriculum</a> <span class="divider">/</span></li>
{% if page.unit %}<li><a href="{{ site.baseurl }}curriculum/{{page.uniturl}}">Unit {{page.unit}}</a> <span class="divider">/</span></li>{% endif %}
{% if page.reading %}<li><a href="{{ site.baseurl }}curriculum/{{page.uniturl}}/readings/{{page.readingurl}}">Reading {{page.reading}}</a> <span class="divider">/</span></li>{% endif %}
{% if page.lab %}<li><a href="{{ site.baseurl }}curriculum/{{page.uniturl}}/labs/{{page.laburl}}">Lab {{page.resource}}</a> <span class="divider">/</span></li>{% endif %}
</ul>


<article>
<div id="post">
    {{ content }}
</div>
</article>

